.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .container__select {
    width: 200px;
    margin: 0 10px;
  }
}

@media (max-width: 645px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}