@media (max-width: 540px) {
  .groupIcons {
    height: 0;
    overflow: hidden;
  }

  .main {
    width: 120px;
    display: flex;
    align-items: center;

    .slider {
      color: #FFFFFF;
      width: 100px;
    }

  }
}
@media (min-width: 541px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;

    .slider {
      color: #FFFFFF;
      width: 60px;
    }


    .groupIcons {
      display: flex;
      justify-content: space-around;
      .white_repeat {
        color: #FFFFFF;
      }
      .grey_repeat {
        color: #8f8f8f;
      }

      svg {
        margin: 0 7px;
        color: #8f8f8f;
      }
    }
}


}