@media (max-width: 540px) {
  .groupIcons {

    overflow: hidden;
  }

  .main {
    width: 120px;
    display: flex;
    align-items: center;

    .slider {
      color: #FFFFFF;
      width: 100px;
    }

  }
}


.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  margin-right: 2vw;

  .slider {
    color: #FFFFFF;
    width: 60px;
  }


  .groupIcons {
    display: flex;
    justify-content: space-around;

    .white_repeat {
      color: #FFFFFF;
    }

    .grey_repeat {
      color: #8f8f8f;
    }

    svg {
      margin: 0 7px;
      color: #8f8f8f;
    }
  }
}
