.body {
  background: rgb(33, 33, 33);
  height: 72px;

  .paperProgres {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
    top: -5px;
    overflow: hidden;
  }

  img {
    width: 25px;
    height: 25px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}