.body {
  grid-area: pleyer;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  background: rgb(33, 33, 33);
  height: 75px;

  .paperProgress {
    margin: 0;
    width: 100%;
    display: block;
    position: relative;
    top: -16px;
    overflow: hidden;
    color: red;
    padding: 15px 0;
  }

  img {
    width: 25px;
    height: 25px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -30px;
  }
}
