* {
  margin: 0;
  padding: 0;
}

.main {
  width: 80%;
  max-width: 700px;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100% - (130px));
}


@media (max-width: 768px) {
  .main {
    margin: auto;
    width: 100%;
    height: calc(100% - 380px);
  }
}

@media (max-width: 450px) {
  .main {
    margin: 40px 4px 4px 30px;
  }
}


.disable_scroll::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.active_scroll::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.active_scroll::-webkit-scrollbar-thumb {
  background-color: #606060;
}

.body {
  height: 56px;
  display: flex;
  border-bottom: #202529;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  img {
    height: 32px;
    width: 32px;
    margin: auto 8px;
  }

  figcaption {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }

  p {
    color: #aaa
  }
}

.info {
  padding: 4px 0;
  margin-left: 6px;
  overflow: hidden;
}

.time {
  margin: auto 8px auto auto;
}

.elect {
  background: #262b33;
}