* {
  margin: 0;
}

.main {
  background: #070606;
  outline: none;
  border: none;
  overflow: hidden;
  padding: 4% 8% 0 4%;
  min-height: calc(100vh - 130px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

  h1 {
    color: white;
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;

  img {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .main {
    grid-area: list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .main {
    padding: 4% 0 0 0;
    min-height: calc(100vh - 164px);
  }
}

@media (max-height: 520px) {
  .main {
    padding: 1% 2% 0 2%;
  }
}

.content_music {
  grid-area: c;
  background: #a6c899;
  height: calc(100vh - 130px);
}

@media (max-width: 450px) {
  .content_music {
    grid-area: c;
    background: #c0d0b4;
    height: calc(100vh - 164px);
  }
}