@media (max-width:785px) {
  .time {
    display: none;
  }
}

.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: relative;
  margin-left: 2vw;

  .time {
    color: #8f8f8f;
  }

  p {
    margin: 7px 12px;
  }
}