@media (max-width:785px) {
  .time {
    height: 0;
    overflow: hidden;
  }
}

.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //height: 72px;
  color: white;
  position: relative;

  .time {
    color: #8f8f8f;
  }

  p {
    margin: 7px 12px;
  }
}