.container {
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  overflow-y: scroll;
  height: calc(100vh - 230px )
}

@media(max-width: 645px){
  .container {
    height: calc(100vh - (278px + 135px) );
    background: red;
  }
}