.newPost {

  display: flex;
  justify-content: center;

  input[type=file] {
    display: none;
  }

  .button {
    margin: 10px;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  }
}