.form {
  margin: 20px auto 20px auto;
  width: 350px;
  background: #1fc2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  input, button, label,{
    width: 300px;
  }
  label {
    height: 25px;
    margin-top: 20px;
  }
}

