@media (max-width: 800px) {
  .icons {
    height: 0;
    overflow: hidden;
  }
}

.main {
  display: flex;
  align-items: center;
  color: #FFFFFF;

  img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin: 10px;
  }

  .description {
    //display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 272px;
    height: 72px;
    overflow: hidden;

    .nameSong{
      color: #FFFFFF;
    }

    p {
      font-size: 16px;
      color: #8e8e8e;
      margin: 7px 0;

    }
  }

  svg {
    margin: 6px;
    color: #8f8f8f;
  }
  figcaption {
    font-weight: bold;
  }
}

@media (max-width: 490px) {
  .main {
    height: 0;
    overflow: hidden;
  }
}
