.Logo {
    height: 58px;
    pointer-events: none;
}

@media (max-width: 490px) {
    .Logo {
        height: 0;
        overflow: hidden;
    }
}

@media (max-width: 400px) {
    .Logo, .ava {
        height: 0;
        overflow: hidden;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .Logo {
        animation: Logo-spin infinite 20s linear;
    }
}

.Header {
    grid-area: h;
    background-color: #282c34;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 35px 0 35px;
    align-items: center;
}

@keyframes Logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(660deg);
    }
}

.login {
    max-width: 1000px;
    display: flex;
    align-content: flex-start;
}

.name {
    color: #61dafb;
    font-size: 25px;
    margin: 10px;
}

.ava {
    width: 50px;
    border-radius: 90%;
    margin-right: 40px;
}

.bar {
    margin: 5px;
    display: flex;
    height: 50px;
}

.btnOut{
   height: 45px;
}

.btnOut:hover {
    transition: 1s;
    color: #cd0a26;
    background: #1c0202;
}

.btnIn {
    height: 45px;
}

.btnIn:hover {
    transition: 0.5s;
    color: #53b027;
}

.navLink {
    display: none;
}

@media (max-width: 320px) {
    .bar {
        width: 80vw;
        display: flex;
        justify-content: start;
    }
}