@media (min-width: 1030px) {
    .body {
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border: none;
        outline: none;
        background: #282c34;
        height: 100%;
    }
}

.App {
    text-align: center;
}

.App-link {
    color: #ffffff;
}

.normal_mode {
    grid-area: c;
    background: #eefcfc;
    height: 100%;
    overflow: auto;
    max-height: calc(100vh - 60px)
}

@media (max-width: 870px) {
    .content_music {
        height: calc(100vh - 164px);
    }
}

.music {
    grid-area: c;
    background: #92cd77;
    height: calc(100vh - 130px);
}