@media (min-width: 871px) {
    .body {
        overflow: hidden;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            "h h"
            "n c";
        grid-template-columns: 1fr 9fr;
        grid-template-rows: 60px 100%;
        border: none;
        outline: none;
        background: #282c34;
    }
}

.App {
    text-align: center;
}

.App-link {
    color: #ffffff;
}

.normal_mode {
    grid-area: c;
    background: #eefcfc;
    height: 100%;
}

@media (max-width: 870px) {
    .body {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 870px) {
    .content_music {
        height: calc(100vh - 164px);
    }
}

.music {
    grid-area: c;
    background: #92cd77;
    height: calc(100vh - 130px);
}