@media (max-width: 870px) {
    .body {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 871px) {
    .body {
        overflow: hidden;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            "h h"
            "n c";
        grid-template-columns: 1fr 9fr;
        grid-template-rows: 60px 100%;
        border: none;
        outline: none;

    }
}

.App {
    text-align: center;
}

.App-link {
    color: #ffffff;
}

.content {
    grid-area: c;
    background: #92cd77;
    height: calc(100vh - 130px);
}