.main {
    display: flex;
    justify-content: center;
    margin: 10px auto 20px auto;
}

.button__group{
    color: #1c0202;
}

.selectedPages {

    /*background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);*/
    background: #0094f5;
    color: #fff;

}

