.main {
    display: flex;
    justify-content: center;
    margin: 10px auto 0 auto;
}

.button__group{
    color: #1c0202;
}

.selectedPages {
    font: bold italic 110% serif;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

