.body {
  margin: 10px;
  background: #214321;
  max-width: 600px;
  max-height: 300px;
}

.post {
  display: flex;
}

.post img {
  height: 60px;
  width: 70px;
  border-radius: 40%;
}

.post div {
  margin: 10px;
}
 
.like {
display: flex;
}

.like img{
  width: 25px;
}

.like div{
  margin-top: 10px;
}