.main {
    display: grid;
    grid-template-columns: 4fr 8fr;
    background: yellow;
}

.dialogs {
 margin: 15px;
}

.dialog {
margin: 8px;
    color: rgb(223, 13, 58);
    text-decoration: none;
}

.dialog a.activeLink {
    color: silver;
}

.meseges {
background: aquamarine;
}

.meseges div {
    margin: 15px;
}